.logo{width:10%;height:5%}
a:active{cursor: progress;}
footer{text-align-last: center; padding: 10px; border-top: 2px solid black;   }
h1{font-size: 90px; text-shadow: 1px 1px blue, 0 0 5px red;}

.heading{display: flex; justify-content: space-evenly}
nav{margin:15px 0px; background: gray; box-sizing: border-box; position: sticky; top: 0}
ul{display: flex;}
nav ul{ list-style:none; display: flex; justify-content:space-evenly; }
nav ul li{
    display: flex;
  }
h2, p, address{margin-left: 20px; margin-right: 20px} 
@media (max-width: 700px){
  ul{
    text-align: center;
    flex-direction: column;
  }
  nav ul li{
    display: block;  flex-direction: column;

  }
}
nav ul li a{ font-size:20px; padding: 20px; color: black; text-decoration: none;  }
nav ul li a:hover{text-shadow: 1px 1px blue, 0 0 5px red; background: lightgray;}
footer a:hover{color: blueviolet;}